apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: budo-moe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          imagePullPolicy: Always
          image: registry.walruslab.org/pub/budo-moe-backend
          envFrom:
            - configMapRef:
                name: backend-config