apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: budo-moe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          imagePullPolicy: Always
          image: registry.walruslab.org/pub/budo-moe-frontend